<div class="row">
  <div class="col-md-12 panel panel-default">
    <h2>How to Use:</h2>
    <p>Insert the players on both sides of the trade into the fields below. The database should have almost any player you need (and if not, please <a href="https://twitter.com/DynastyFFTools">let us know!</a>). Since players are hardly the only asset in dynasty fantasy football, you can also search for 2015 draft picks and future draft picks. To search for 2015 picks, simply search for the overall pick number ("Pick 1", "Pick 2"..."Pick 46"). To search for 2016 and beyond, search for "Future 1st", "Future 2nd", and so on. Future draft picks are limited to 4th round picks as it becomes increasingly to determine value beyond there.</p>
  </div>
</div>

<div id="calculator" class="row">
    <div class="col-md-offset-1 col-md-5">
        <datalist id="player-names">
        <% Player.all.each do |player| %>
          <option value="<%= player.full_name %>"></option>
        <% end %>
      </datalist>
        <h2>Team 1</h2>

        <%= form_tag("/results", method: "get") do %>
        <div class="form-group">
          <%= label_tag(:t1p1, "Player 1") %>
          <%= text_field_tag(:t1p1, nil, class: "form-control", list: "player-names") %>
        </div>

        <div class="form-group">
          <%= label_tag(:t1p2, "Player 2") %>
          <%= text_field_tag(:t1p2, nil, class: "form-control", list: "player-names") %>
        </div>

        <div class="form-group">
          <%= label_tag(:t1p3, "Player 3") %>
          <%= text_field_tag(:t1p3, nil,class: "form-control", list: "player-names") %>
        </div>

        <div class="form-group">
          <%= label_tag(:t1p4, "Player 4") %>
          <%= text_field_tag(:t1p4, nil,class: "form-control", list: "player-names") %>
        </div>

        <div class="form-group">
          <%= label_tag(:t1p5, "Player 5") %>
          <%= text_field_tag(:t1p5, nil,class: "form-control", list: "player-names") %>
        </div>
    </div>
    <div class="col-md-5">
        <h2>Team 2</h2>

        <div class="form-group">
          <%= label_tag(:t2p1, "Player 1") %>
          <%= text_field_tag(:t2p1, nil,class: "form-control", list: "player-names") %>
        </div>

        <div class="form-group">
          <%= label_tag(:t2p2, "Player 2") %>
          <%= text_field_tag(:t2p2, nil,class: "form-control", list: "player-names") %>
        </div>

        <div class="form-group">
          <%= label_tag(:t2p3, "Player 3") %>
          <%= text_field_tag(:t2p3, nil,class: "form-control", list: "player-names") %>
        </div>

        <div class="form-group">
          <%= label_tag(:t2p4, "Player 4") %>
          <%= text_field_tag(:t2p4, nil,class: "form-control", list: "player-names") %>
        </div>

        <div class="form-group">
          <%= label_tag(:t2p5, "Player 5") %>
          <%= text_field_tag(:t2p5, nil,class: "form-control", list: "player-names") %>
        </div>

    </div>
    <div class="col-md-offset-3 col-md-6">
        <br>
        <%=submit_tag(value="Evaluate", class: "form-control btn btn-success") %>
        <% end %>
    </div>

</div>
<br>
