<div class="row">
  <div class="col-xs-offset-1 col-xs-5">
    <table class="table table-hover">
      <thead>
        <th>Name</th>
        <th>Position</th>
        <th>Age</th>
        <th>ADP</th>
        <th>3 Month Trend</th>
        <th>Value</th>
      </thead>
      <tbody>
        <% @t1.each do |player| %>
          <tr>
            <td><%= player.full_name %></td>
            <td><%= player.position.abbr %></td>
            <td><%= player.age %></td>
            <td><%= player.latest_rank %></td>
            <td><%= player.dlf_trend_3_months %></td>
            <td><%= player.value %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <table class="table table-condensed">
      <thead>
        <th>Players Gained</th>
        <th>Value Gained</th>
      </thead>
      <tbody>
        <tr>
          <td><%= @t2.count %></td>
          <% if @t1_gained > 0 %>
            <td class="success"><%= @t1_gained %></td>
          <% elsif @t1_gained == 0 %>
            <td class="info"><%= @t1_gained %></td>
          <% else %>
            <td class="danger"><%= @t1_gained %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-xs-5">
    <table class="table table-hover">
      <thead>
        <th>Name</th>
        <th>Position</th>
        <th>Age</th>
        <th>ADP</th>
        <th>3 Month Trend</th>
        <th>Value</th>
      </thead>
      <tbody>
        <% @t2.each do |player| %>
          <tr>
            <td><%= player.full_name %></td>
            <td><%= player.position.abbr %></td>
            <td><%= player.age %></td>
            <td><%= player.latest_rank %></td>
            <td><%= player.dlf_trend_3_months %></td>
            <td><%= player.value %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <table class="table table-condensed">
      <thead>
        <th>Players Gained</th>
        <th>Value Gained</th>
      </thead>
      <tbody>
        <tr>
          <td><%= @t1.count %></td>
          <% if @t2_gained > 0 %>
            <td class="success"><%= @t2_gained %></td>
          <% elsif @t2_gained == 0 %>
            <td class="info"><%= @t2_gained %></td>
          <% else %>
            <td class="danger"><%= @t2_gained %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>