<div class="row">
  <div class="col-md-6">
    <h2>Team 1 Sends:</h2>
    <table class="table table-hover">
      <thead>
        <th>Name</th>
        <th>Position</th>
        <th>Age</th>
        <th>ADP</th>
        <th>3 Month Trend</th>
        <th>Value</th>
      </thead>
      <tbody>
        <% @t1.each do |player| %>
          <tr>
            <td><%= link_to player.full_name, player_path(player) %></td>
            <td><%= player.position.abbr %></td>
            <td><%= player.age %></td>
            <td><%= player.latest_rank %></td>
            <td><%= player.dlf_trend_3_months %></td>
            <td><%= player.value %></td>
          </tr>
        <% end %>
        <% (5 - @t1.length).times do %>
          <tr>
            <td> - </td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <h3>Team 1 Gains:</h2>
    <table class="table table-condensed">
      <thead>
        <th>Players Gained</th>
        <th>Value Gained</th>
      </thead>
      <tbody>
        <tr>
          <td><%= @t2.count %></td>
          <% if @t1_gained > 0 %>
            <td class="success"><%= @t1_gained %></td>
          <% elsif @t1_gained == 0 %>
            <td class="info"><%= @t1_gained %></td>
          <% else %>
            <td class="danger"><%= @t1_gained %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
    <br>
  </div>
  <div class="col-md-6">
    <h2>Team 2 Sends:</h2>
    <table class="table table-hover">
      <thead>
        <th>Name</th>
        <th>Position</th>
        <th>Age</th>
        <th>ADP</th>
        <th>3 Month Trend</th>
        <th>Value</th>
      </thead>
      <tbody>
        <% @t2.each do |player| %>
          <tr>
            <td><%= link_to player.full_name, player_path(player) %></td>
            <td><%= player.position.abbr %></td>
            <td><%= player.age %></td>
            <td><%= player.latest_rank %></td>
            <td><%= player.dlf_trend_3_months %></td>
            <td><%= player.value %></td>
          </tr>
        <% end %>
        <% (5 - @t2.length).times do %>
          <tr>
            <td> - </td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <h3>Team 2 Gains:</h2>
    <table class="table table-condensed">
      <thead>
        <th>Players Gained</th>
        <th>Value Gained</th>
      </thead>
      <tbody>
        <tr>
          <td><%= @t1.count %></td>
          <% if @t2_gained > 0 %>
            <td class="success"><%= @t2_gained %></td>
          <% elsif @t2_gained == 0 %>
            <td class="info"><%= @t2_gained %></td>
          <% else %>
            <td class="danger"><%= @t2_gained %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
    <br>
  </div>
</div>
<div class="row">
  <div class="panel panel-default">
    <div class="panel-body text-center">
      <% if @exchanged > 3000 %>
      <h3>There is no asset that can make this trade even!</h3>
      <% else %>
      <h3>The difference is comparable to <strong><%= @best_match[0].name %></strong>, who has a value of <strong><%= @best_match[1] %></strong> and an ADP of <strong><%= @best_match[2] %></strong></h3>
      <% end %>
    </div>
  </div>
  <br>
  <hr>

<div id="calculator" class="row">
    <div class="col-md-offset-1 col-md-5">
        <datalist id="player-names">
        <% Player.all.each do |player| %>
          <option value="<%= player.full_name %>"></option>
        <% end %>
      </datalist>
        <h2>Team 1</h2>

        <%= form_tag("/results", method: "get") do %>
        <div class="form-group">
          <%= label_tag(:t1p1, "Player 1") %>
          <%= text_field_tag(:t1p1, nil, class: "form-control", list: "player-names") %>
        </div>

        <div class="form-group">
          <%= label_tag(:t1p2, "Player 2") %>
          <%= text_field_tag(:t1p2, nil, class: "form-control", list: "player-names") %>
        </div>

        <div class="form-group">
          <%= label_tag(:t1p3, "Player 3") %>
          <%= text_field_tag(:t1p3, nil,class: "form-control", list: "player-names") %>
        </div>

        <div class="form-group">
          <%= label_tag(:t1p4, "Player 4") %>
          <%= text_field_tag(:t1p4, nil,class: "form-control", list: "player-names") %>
        </div>

        <div class="form-group">
          <%= label_tag(:t1p5, "Player 5") %>
          <%= text_field_tag(:t1p5, nil,class: "form-control", list: "player-names") %>
        </div>
    </div>
    <div class="col-md-5">
        <h2>Team 2</h2>

        <div class="form-group">
          <%= label_tag(:t2p1, "Player 1") %>
          <%= text_field_tag(:t2p1, nil,class: "form-control", list: "player-names") %>
        </div>

        <div class="form-group">
          <%= label_tag(:t2p2, "Player 2") %>
          <%= text_field_tag(:t2p2, nil,class: "form-control", list: "player-names") %>
        </div>

        <div class="form-group">
          <%= label_tag(:t2p3, "Player 3") %>
          <%= text_field_tag(:t2p3, nil,class: "form-control", list: "player-names") %>
        </div>

        <div class="form-group">
          <%= label_tag(:t2p4, "Player 4") %>
          <%= text_field_tag(:t2p4, nil,class: "form-control", list: "player-names") %>
        </div>

        <div class="form-group">
          <%= label_tag(:t2p5, "Player 5") %>
          <%= text_field_tag(:t2p5, nil,class: "form-control", list: "player-names") %>
        </div>

    </div>
    <div class="col-md-offset-3 col-md-6">
        <br>
        <%=submit_tag(value="Evaluate", class: "form-control btn btn-success") %>
        <% end %>
    </div>

</div>