<div class="row">
  <div class="col-md-6">
    <table class="table table-hover">
      <thead>
        <th>Name</th>
        <th>Position</th>
        <th>Age</th>
        <th>ADP</th>
        <th>3 Month Trend</th>
        <th>Value</th>
      </thead>
      <tbody>
        <% @t1.each do |player| %>
          <tr>
            <td><%= player.full_name %></td>
            <td><%= player.position.abbr %></td>
            <td><%= player.age %></td>
            <td><%= player.latest_rank %></td>
            <td><%= player.dlf_trend_3_months %></td>
            <td><%= player.value %></td>
          </tr>
        <% end %>
        <% (5 - @t1.length).times do %>
          <tr>
            <td> - </td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <table class="table table-condensed">
      <thead>
        <th>Players Gained</th>
        <th>Value Gained</th>
      </thead>
      <tbody>
        <tr>
          <td><%= @t2.count %></td>
          <% if @t1_gained > 0 %>
            <td class="success"><%= @t1_gained %></td>
          <% elsif @t1_gained == 0 %>
            <td class="info"><%= @t1_gained %></td>
          <% else %>
            <td class="danger"><%= @t1_gained %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
    <br>
    <%= link_to "Run Another Trade", root_url, class: "btn btn-success" %>
  </div>
  <div class="col-md-6">
    <table class="table table-hover">
      <thead>
        <th>Name</th>
        <th>Position</th>
        <th>Age</th>
        <th>ADP</th>
        <th>3 Month Trend</th>
        <th>Value</th>
      </thead>
      <tbody>
        <% @t2.each do |player| %>
          <tr>
            <td><%= player.full_name %></td>
            <td><%= player.position.abbr %></td>
            <td><%= player.age %></td>
            <td><%= player.latest_rank %></td>
            <td><%= player.dlf_trend_3_months %></td>
            <td><%= player.value %></td>
          </tr>
        <% end %>
        <% (5 - @t2.length).times do %>
          <tr>
            <td> - </td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <table class="table table-condensed">
      <thead>
        <th>Players Gained</th>
        <th>Value Gained</th>
      </thead>
      <tbody>
        <tr>
          <td><%= @t1.count %></td>
          <% if @t2_gained > 0 %>
            <td class="success"><%= @t2_gained %></td>
          <% elsif @t2_gained == 0 %>
            <td class="info"><%= @t2_gained %></td>
          <% else %>
            <td class="danger"><%= @t2_gained %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
    <br>
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>The difference is comparable to <strong><%= @best_match[0] %></strong>, who has a value of <strong><%= @best_match[1] %></strong></h3>
      </div>
    </div>
  </div>
</div>