<!DOCTYPE html>
<html>
<head>
  <title>Dynasty Trade Machine</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render partial: 'layouts/navbar' %>

  <section class="container">
    <section id="main-content">
      <section class="wrapper">
        <div>
        <%= flash_messages %>
        </div>
        <%= yield %>
      </section>
    </section>
    <hr>
    <footer>
      <p>&copy; 2015</p>
    </footer>
  </section>

</body>
</html>