<!DOCTYPE html>
<html>
<head>
  <title>DynastyTradeCalculator</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <section class="container">
    <section id="main-content">
      <section class="wrapper">
        <div>
        <%= flash_messages %>
        </div>
        <div class="col-md-offset-2 col-md-8">
          <h1>The Dynasty Trade Calculator <small>Updated 8/25</small></h1>
        </div>
        <%= yield %>
      </section>
    </section>
  </section>

</body>
</html>